{block blockMenu}
{include '_menu.latte'}
{/block}
{block content}
	<h1 class="h3" n:block=title>
		Správa šablon - {if $currentTemplateId === 0}Nová šablona{else}Úprava šablony {$templateName}{/if}
	</h1>
	<hr>
	{control templateForm}
{/block}
