26.01.09 7:30 - 8:00 - zalozeni repository, inicializace aplikace
26.01.09 8:00 - 8:30 - navrh db
26.01.09 8:30 - 9:30 - zakladni graficke prvky formularu, inicializace less compilatoru, tvorba login formu pro prihlaseni k administraci
26.01.09 9:30 - 10:00 - zakladni DB komunikace, prihlaseni administratora, prace s hesly


26.01.12 9:00 - 9:30 - vytvoreni layoutovych struktur pro administraci.
26.01.12 9:30 - 10:30 - tvorba CRUD pro spravu uzivatelu
26.01.12 11:00 - 12:00 - správa uživatelů - logika a bezpečnost