.flashes {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	@media only screen and (max-width: @break-max-md) {
		width: 90%;
	}
}

.main-navbar-custom {
	.nav-link {
		&.active {
			color: @primary-orange;
			font-weight: bold;
		}
	}
}
.color-orange-primary {
	color: @primary-orange;
}
.saved-indicator {
	border-color: #198754 !important; /* bootstrap zelená */
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
	transition: all 0.2s;
}

.card-hover {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
}

.glightbox-container {
	.gslide-description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 100% !important;
		max-height: 40%;
		margin: 0;
		padding: 0;
		background: linear-gradient(to top, rgb(0 0 0 / 60%), rgb(0 0 0 / 50%), rgb(0 0 0 / 20%));
		color: #fff;
		pointer-events: none;
	}

	/* Vnitřní wrapper popisu */
	.gdesc-inner {
		text-align: center;
		padding: 16px 20px;
		font-size: 1.4rem;
		line-height: 1.45;
		pointer-events: auto;
	}

	.gslide-media, .ginner-container {
		position: relative;
	}
}
