.flashes {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	@media only screen and (max-width: @break-max-md) {
		width: 90%;
	}
}

.main-navbar-custom {
	.nav-link {
		&.active {
			color: @primary-orange;
			font-weight: bold;
		}
	}
}
.color-orange-primary {
	color: @primary-orange;
}
.saved-indicator {
	border-color: #198754 !important; /* bootstrap zelená */
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
	transition: all 0.2s;
}
