services:
	- App\Core\RouterFactory::createRouter
	# - Nette\Caching\Storages\FileStorage(%tempDir%/cache)

	authenticator: App\Model\UserAuthenticator

	- App\Model\LessCompiler(%appDir%/../assets/less, %tempDir%/less, %wwwDir%/assets/css, %wwwDir%)
	config: App\Model\Config(%appDir%/../)

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
