services:
	- App\Core\RouterFactory::createRouter
	cacheStorage: Nette\Caching\Storages\FileStorage(%tempDir%/cache)

	# - Nette\Caching\Storages\FileStorage(%tempDir%/cache)

	authenticator: App\Model\UserAuthenticator

	- App\Model\LessCompiler(%appDir%/../assets/less, %tempDir%/less, %wwwDir%/assets/css, %wwwDir%)
	config: App\Model\Config(@cacheStorage)

	- App\Service\ImageService(%wwwDir%)
	- App\Service\SitemapGenerator(%wwwDir%)

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
