{block content}
<div class="container content-container">
	<h1 n:block=title>Stránka nebyla nalezena</h1>

	<p>Nemůžeme najít stránku, na kterou se pokoušíte dostat.</p>
	<p>
		Mohla být
		<ul>
			<li>odstraněna</li>
			<li>přejmenována</li>
			<li>je dočasně nedostupná</li>
			<li>nebo nikdy neexistovala</li>
		</ul>
		Zkuste zkontrolovat URL adresu nebo se vrátit na <a href="/">domovskou stránku</a>.
	</p>

	<p>A trochu technických informací: <strong> Error 404</strong>.</p>
	
</div>