<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{* Bootstrap 5.3.7*}
	<link rel="stylesheet" href="{$basePath}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/fonts/bootstrap-icons-1.11.0/bootstrap-icons.min.css">

	{* Basic site css *}
	<link rel="stylesheet" href="{$basePath}{$cssFile}">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Skákačka</title>

	{asset? 'main.js'}
</head>