<!DOCTYPE html>
<html lang="cs">
<head>
	{include '@head.latte'}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Skákačka</title>

	{asset? 'main.js'}
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
	{snippet flashes}
		<div class="flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-' . $flash->type, 'alert-dismissible fade show'" role="alert">
				{$flash->message}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{/snippet}

	{include '@navbar.latte'}
	{block loader}<span id="page-loader"></span>{/block}

	<div class="flex-grow-1">
		{include content}
	</div>

	{control articleAsset, '@asset-footer'}

	{include '@bodyScripts.latte'}

	{block scripts}
	<script>
		naja.initialize();

		// reCaptcha v3 for contact form
		document.addEventListener('DOMContentLoaded', function () {

			// pokud není žádný recaptchaToken input, neřešíme
			if (document.querySelectorAll('input[name="recaptchaToken"]').length === 0) {
				return;
			}
			const recaptchaKey = {$recaptchaPublic};
			// dynamicky načti script
			const script = document.createElement('script');
			script.src = 'https://www.google.com/recaptcha/api.js?render=' + recaptchaKey;
			script.async = true;
			script.defer = true;
			document.head.appendChild(script);

			// Po načtení scriptu přidej submit handlery
			script.onload = function () {
				document.querySelectorAll('form[data-recaptcha]').forEach(form => {

					form.addEventListener('submit', function (e) {
						e.preventDefault();

						grecaptcha.ready(function () {
							grecaptcha.execute(recaptchaKey, { action: 'contact' }).then(function (token) {
								const input = form.querySelector('input[name="recaptchaToken"]');
								if (input) {
									input.value = token;
								}
								form.submit();
							});
						});

					});
				});
			};
		});
	</script>
	{/block}
</body>
</html>
