<!DOCTYPE html>
<html lang="cs">
<head>
	{include '@head.latte'}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Skákačka</title>

	{asset? 'main.js'}
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
	{snippet flashes}
		<div class="flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-' . $flash->type, 'alert-dismissible fade show'" role="alert">
				{$flash->message}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{/snippet}

	{include '@navbar.latte'}

	<div class="container flex-grow-1 pt-2">
		{include content}
	</div>

	{include '@bodyScripts.latte'}
</body>
</html>
