<!DOCTYPE html>
<html lang="cs">
{include '../@head.latte'}

<body class="d-flex flex-column min-vh-100">
	{snippet flashes}
		<div class="flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-' . $flash->type, 'alert-dismissible fade show'" role="alert">
				{$flash->message}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{/snippet}

	{include '@adminPanel.latte'}

	<div class="container flex-grow-1 pt-2">
		<div class="row">
			<div class="col-3">
				{block menu}
					menu neni k dispozici
				{/block}
			</div>
			<div class="col-9">
				{include content}
			</div>
		</div>
	</div>

	{include '../@bodyScripts.latte'}
</body>
</html>
