<!DOCTYPE html>
<html lang="cs">
<head>
	{include '../@head.latte'}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Skákačka</title>

	{asset? 'main.js'}
</head>

<body class="d-flex flex-column min-vh-100">
	{snippet flashes}
		<div class="flashes">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-' . $flash->type, 'alert-dismissible fade show'" role="alert">
				{$flash->message}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{/snippet}

	{include '@adminPanel.latte'}
	<div class="container flex-grow-1 pt-2">
		<div class="row">
			{ifset blockMenu}
				<div class="col-3">
					{include blockMenu}
				</div>
				<div class="col-9">
					{include content}
				</div>
			{else}
				<div class="col-12">
					{include content}
				</div>
			{/ifset}
		</div>
	</div>

	{include '../@bodyScripts.latte'}
	<script src="{$basePath}/assets/js/Naja.min.js"></script>
	{block scripts}
		<script>
		tinymce.init({
			selector: '.tiny-editor',
			plugins: [
				'code',
				'lists',
				'link',
				'table',
			],
			toolbar_mode: 'wrap',
			height: 300,
			menubar: true,
			toolbar: 'undo redo | blocks  | ' +
					'bold italic underline | alignleft aligncenter ' +
					'alignright alignjustify | bullist numlist outdent indent | ' +
					'link table | removeformat code',
			content_css: '//www.tiny.cloud/css/codepen.min.css'
		});
		</script>
	{/block}
</body>
</html>
